body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 20px;
  padding: 10px;
  border: solid red 2px;
  background-color: rgba(255, 0, 0, 0.1);
  text-align: justify;
}

#logo {
  width: 200px;
}

a {
  color: #00b7ff;
}

p {
  text-align: justify;
}

#fb-login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.legend {
  font-size: 12px;
}

#result-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#graph {
  height: 360px;
  position: relative;
  width: 360px;
  margin: 20px;
}

rect {
  stroke-width: 2;
}

h5 {
  font-size: 16px;
  text-align: center;
}

#post-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

#top-post {
  border: solid #008000 2px;
  background-color: #00800010;
}

#bottom-post {
  border: solid #ff0000 2px;
  background-color: #ff000010;
}
